.footer {

  &--index {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__wrapper {
    display: block;
    padding: 13px 20px;

    @include tablet {
      display: flex;
      padding: 40px;
      justify-content: space-between;
    }

    @include desktop {
      padding: 75px 130px;
    }
  }

  &__developed {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: $blue-text;

    @include tablet {
      width: 33%;
      margin-bottom: 0;
      text-align: right;
      justify-content: flex-end;
    }

    &:hover {
      color: $blue-text;
      svg {
        fill: $blue-text;
      }
    }

    &:active {
      color: $blue-text;
      svg {
        opacity: 0.3;
      }
    }
  }

  &__developed-text {
    margin-right: 15px;
    padding: 14px 0;
    font-size: 14px;

    @include tablet {
      margin-right: 12px;
    }

    @include desktop {
      margin-right: 14px;
      font-size: 18px;
      padding: 11px 0;
    }
  }

  &__developed-icon {
    height: 48px;

    svg {
      fill: $pink;
      margin-top: 9px;
    }
  }
}

.social-icons {
  display: flex;
  top: 2px;
  width: 170px;
  margin: 38px auto 34px auto;
  justify-content: space-between;

  &__item {
    width: 20px;
    height: 20px;
    @include border-radius(50%);
    border: 12px solid #fff;
    @include box-shadow(0, 0, 0, 3px, rgba(229, 229, 229, 1));

    &:hover {
      @include box-shadow(0, 0, 0, 3px, rgba(40, 54, 69, 1));
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include tablet {
    margin: 4px 0 0;
    width: 169px;
  }
}