.footer {

  &--index {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__wrapper {

    @include tablet {
      display: flex;
      padding: 40px;
      justify-content: center;
    }
  }

  &__logo {
    width: 33%;
    position: relative;
  }

  &__developed {
    padding-bottom: 40px;

    @include tablet {
      width: 33%;
      padding-bottom: 0;
      text-align: right;
    }
  }

  &__developed-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }

  &__developed-icon {
    display: inline-block;
    vertical-align: middle;
  }

}