form {
  background: #fff;
  padding-top: 28px;

  &>div {
    padding: 40px 20px 44px 20px;

    @include tablet {
      padding: 0 40px 58px;
    }

    @include desktop {
      padding: 0 130px 57px;
    }
  }

  &>div:nth-child(n+1) {
    background: $grey-bg;

    @include tablet {
      background: #fff;
    }
  }

  &>div:nth-child(2n) {
    background: #fff;
  }

  @include tablet {
    padding-top: 74px;
  }
}

fieldset {
  margin: 0;
  border: 0;
  padding: 30px 0 0 0;

  @include tablet {
    border: 2px solid $grey;
    padding: 34px 57px 38px;
  }
}

input:disabled {
  background: #f2f2f2;
}


.form-main-headline {
  position: relative;
  line-height: 30px;
  color: #fff;
  padding: 0 30px 51px 30px;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 300;

    @include tablet {
      font-size: 50px;
      line-height: 60px;
      margin: 0 auto;
    }

    @include desktop {
      padding: 0;
    }
  }

  @include tablet {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px 80px;
  }

  @include desktop {
    padding: 0 130px 100px;
  }
}

.form-flex-wrapper {

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--column {

    @include desktop {
      flex-direction: column;
      height: 165px;
    }
  }
}

.personal-form {

  fieldset {

    @include tablet {
      border: 0;
      padding: 0;
    }
  }
}

.application-form {

  fieldset {

    @include tablet {
      padding: 49px 60px 56px;
    }
  }
}

.travel-form {

  fieldset {

    @include desktop {
      padding: 32px 57px 19px;
    }
  }
}

.companions {

  fieldset {

    @include desktop {
      padding: 34px 57px 37px;
    }
  }
}

.achievements {

  fieldset {

    @include desktop {
      padding: 45px 57px 10px;
    }
  }
}

.form-legend {
  font-size: 14px;
  color: $pink;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  top: -5px;
  line-height: 19px;
  margin: auto;

  span {
    display: block;
    margin: auto;
  }

  @include tablet {
    top: 0;
    padding: 0 25px;
  }
}

.form-input {
  width: 100%;
  margin-bottom: 22px;
  text-align: left;
  position: relative;

  @include desktop {
    width: 32%;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    margin-bottom: 43px;

    &__radio {
      display: none;

      & + label {
        font-size: 18px;

        &:before {
          content: "";
          display: inline-block;
          background: #fff;
          vertical-align: middle;
          width: 15px;
          height: 15px;
          @include border-radius(50%);
          border: 10px solid #fff;
          @include box-shadow(0, 0, 0, 2px, rgba(229, 229, 229, 1));
          margin: -3px 25px 0 0;
          cursor:pointer;
        }

        &:hover {
          &:before {
            @include box-shadow(0, 0, 0, 2px, rgba(40, 54, 69, 1));
          }
        }

        &:active {
          &:before {
            @include box-shadow(0, 0, 0, 2px, rgba(210, 40, 86, 1));
          }
        }
      }

      &:checked + label:before {
        background: $pink;
      }

    }

    @include desktop {
      margin-bottom: 0;
      width: auto;
    }
  }

  &--checkbox {
    margin-bottom: 46px;

    &__checkbox {
      display: none;

      &:checked + label:before {
        background: url('../img/yes-pink.png') no-repeat 50% 50%;
      }
    }

    &__label {
      font-size: 18px;

      &:before {
        content: "";
        display: inline-block;
        background: #fff;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        @include border-radius(2px);
        border: 2px solid $grey;
        margin: -3px 20px 0 0;
        cursor:pointer;
      }

      &:hover {
        &:before {
          border: 2px solid $blue-text;
        }
      }

      &:active {
        &:before {
          border: 2px solid $pink;
        }
      }
    }

    &:last-child {
      margin-bottom: 46px;
    }

  }

  &__label {
    font-size: 14px;
    color: $pink;
    text-transform: uppercase;
    display: block;
    text-align: left;
    padding: 0 0 10px 23px;
    letter-spacing: 0;

    @include tablet {
      padding: 0 0 10px 22px;
    }

    &--bottom {
      text-align: center;
      padding: 13px 0 0;

      @include tablet {
        text-align: left;
        padding: 15px 0 0 30px;
      }
    }

    &--center {
      @include tablet {
        text-align: center;
        padding: 15px 0 0;
      }
    }
  }


  &--add {
    width: 280px;
    letter-spacing: -7px;

    @include tablet {
      width: 236px;
    }

    @include desktop {
      width: 252px;
    }
  }

  &--add-wider {

    @include tablet {
      width: 252px;

      input:disabled {
        background: #fff;
      }
    }
  }

  &__minus {
    height: 3px;
    width: 27px;
    background: #283645;
    margin: 29px auto;
  }

  &__plus {
    position: absolute;
    height: 3px;
    width: 27px;
    background: #283645;
    top: 29px;
    left: 16px;
    transform: rotate(90deg);
  }

  &__input {
    width: 100%;
    border: 2px solid #e7e7e7;
    padding: 20px 22px;
    height: 63px;
    font-size: 18px;
    color: #283645;
    box-sizing: border-box;
    margin: 0 auto;

    &:hover {
      border: 2px solid $blue-text;
    }

    &:focus {
      outline: none;
      border: 2px solid $pink;
    }

    &--add {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      &:hover {
        border: 2px solid $grey;
      }

      &:focus {
        outline: none;
        border: 2px solid $grey;
      }
    }

    &--add-wider {

      @include tablet {
        border: 0;
      }

      &:hover {

        @include tablet {
          border: 0;
        }
      }
    }
  }

  &__plus-minus {
    position: absolute;
    border: 2px solid #e7e7e7;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -7px;
    width: 59px;
    height: 59px;
    cursor: pointer;

    &--minus {
      top: 0;
      left: 0;
    }
    &--plus {
      top: 0;
      right: 0;
    }

    &:hover {
      border: 2px solid $blue-text;
    }

    &:active {
      background: $blue-text;

      .form-input__minus {
        background: #fff;
      }

      .form-input__plus {
        background: #fff;
      }
    }
  }

  &--flex {
    width: 280px;

    @include tablet {
      width: 240px;
      margin-bottom: 32px;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &--flex:last-child {
    margin-bottom: 0;
  }
}



.companion {
  text-align: left;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  &:last-child {
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__delete {
    display: none;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;

    @include tablet {
      display: block;
      padding-top: 50px;
      font-size: 14px;
    }

    &:hover {
      color: $pink;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include tablet {
    margin-bottom: 25px;
  }

  @include desktop {
    margin-bottom: 7px;
  }
}

.form-divider {
  margin: 50px 0 33px 0;
  border: none;
  height: 2px;
  width: 100%;
  background-color: $grey;

  @include tablet {
    margin: 41px 0 34px 0;
  }

  &--photos {
    margin: 33px 0 35px 0;

    @include desktop {
      margin: 40px 0 63px 0;
    }
  }

}

.number-input {

   &__label {
    font-size: 14px;
    color: $pink;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    letter-spacing: 0;
  }

  &__input {
    width: 60px;
    height: 60px;
    border: 2px solid $grey;
    border-right: 0;
    text-align: center;
    font-size: 18px;
    padding: 0;

    @include tablet {
      border-right: 2px solid $grey;
    }
  }

  @include tablet {
    margin-right: 20px;
  }
}

.double-input {

  &__wrap {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    width: 100%;

    &--comp-name {

      @include tablet {
        margin-right: 15px;
      }
    }

    @include tablet {
      width: 300px;
    }
  }

  &__input {
    width: 100%;
    border: 2px solid #e7e7e7;
    padding: 20px;
    height: 64px;
    font-size: 18px;
    color: #283645;
    margin-bottom: 20px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border: 2px solid $blue-text;
    }

    &:focus {
      outline: none;
      border: 2px solid $pink;
    }
  }

  &__label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 14px;
    color: $pink;
    text-align: left;
    padding: 0 0 10px 20px;

    @include desktop {
      padding: 0 0 10px 22px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 15px;
  }

}

.photos {
  padding-bottom: 0;

  &__btn {
    display: block;
    border: 2px solid $grey;
    padding: 19px 0;
    background: #fff;
    font-size: 18px;
    text-transform: uppercase;
    @include border-radius(2px);
    cursor: pointer;
    font-weight: 700;
    color: #283645;

    &:hover {
      border: 2px solid $blue-text;
      outline: none;
    }

    &:active {
      background: $blue-text;
      color: #fff;
      outline: none;
    }
  }

  &__input {
    position: fixed;
    left: -9999px;
  }

  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    min-width: 80px;
    position: relative;
    text-align: left;
    margin-right: 13px;

    @include tablet {
      min-width: 120px;
      margin-right: 54px;
    }
  }

  &__close {
    position: absolute;
    top: -13px;
    left: 65px;
    width: 19px;
    height: 19px;
    background: #fff;
    @include border-radius(50%);
    border: 2px solid $grey;
    cursor: pointer;
    text-align: center;
    z-index: 1;

    svg {
      width: 12px;
      height: 12px;
      fill: #cacaca;

      @include tablet {
        width: 24px;
        height: 24px;
        padding: 14px 13px;
      }
    }

    @include tablet {
      top: -23px;
      left: 95px;
      width: 49px;
      height: 49px;

    }

    &:hover {
      border: 2px solid $blue-bg;

      svg {
        fill: $blue-text;
      }
    }

    &:active {
      border: 2px solid $blue-text;
      background: $blue-text;

      svg {
        fill: #fff;
      }
    }
  }

  &__image {
    max-width: 80px;
    margin-bottom: 2px;

    @include tablet {
      max-width: 120px;
      margin-bottom: 8px;
    }
  }

  &__label {
    font-size: 12px;
    margin-bottom: 27px;
  }

  fieldset {
    padding-bottom: 0;

    @include desktop {
      padding-bottom: 30px;
    }
  }
}

.submit {
  padding-top: 25px;

  &__input {
    width: 100%;
    background: #2aab6d;
    padding: 19px;
    height: 63px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    @include border-radius(2px);
    margin-bottom: 40px;
    text-transform: uppercase;
    cursor: pointer;

    @include tablet {
      width: 300px;
      margin-bottom: 0;
    }

    &:hover {
      outline: 0;
      background: #1c9b5e;
    }

    &:active {
      outline: 0;
      span {
        opacity: 0.3;
      }
    }
  }

  &__required {
    font-size: 14px;
    text-transform: uppercase;

    @include tablet {
      padding: 21px 0;
    }
  }

  &__star {
    color: $pink;
  }

  &__add-text {
    display: none;

    @include desktop {
      display: inline;
    }
  }

  @include tablet {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    padding-bottom: 0;
  }
}