.applications {
  background-color: $blue-bg;
  position: relative;
  padding: 28px 0;
  color: #fff;
  z-index: 1;

  &__button {
    display: block;
    margin: 0 auto 30px auto;
    width: 280px;
    color: #fff;
    border: 3px solid #fff;
    @include border-radius(30px);
    background: none;
    padding: 11px 0 14px 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

    @include tablet {
      margin: 0 auto 43px auto;
    }
  }

  &__icons {
    width: 206px;
    margin: 0 auto 22px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    @include tablet {
      margin: 0 auto 36px auto;
    }
  }

  &__icon {
    height: 57px;
  }

  &__icon--apple {
    min-width: 46px;
    background: url('../img/apple-logo.svg') no-repeat 0 0;
  }

  &__icon--android {
    min-width: 42px;
    background: url('../img/android-logo.svg') no-repeat 0 10px;
  }

  &__icon--windows {
    min-width: 44px;
    background: url('../img/microsoft-logo.svg') no-repeat 0 15px;
  }

  &__icon:last-child {
    margin-right: 0;
  }

  &__text {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;

    @include tablet {
      font-size: 18px;
      line-height: 24px;
    }
  }

  @include tablet {
    position: absolute;
    top: 348px;
    left: 10px;
    background: none;
    width: 50%;
  }
}


.information {
  background: #fff;
  padding-top: 30px;
  position: relative;

  &__items-wrapper {
    background: $grey-bg;
    padding-top: 50px;
    display: flex;
    flex-direction: row-reverse;

  }

  &__items {
    @include tablet {
      width: 50%;
      text-align: left;
      padding-top: 70px;
    }
  }

  &__item {
    padding-bottom: 30px;

    @include tablet {
      padding-bottom: 34px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;

    @include tablet {
      padding: 0 40px 0 0;
    }
  }

  &__image {
    z-index: 1;

    img {
      height: 278px;

      @include tablet {
        height: 481px;
      }
    }

    @include tablet {
      width: 50%;
      height: 481px;
    }
  }

  @include tablet {
    padding-top: 50px;
  }

}

.article-brief {
  display: none;
  background: #fff;
  padding: 60px 0;

  @include tablet {
    display: flex;
  }

  &__image {
    position: relative;
    width: 50%;
  }
  &__brief {
    width: 50%;
    text-align: left;
    padding: 38px 0;
  }
  &__headline {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-right: 40px;
  }
  &__text {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    padding-right: 40px;
    margin-bottom: 10px;
  }
  &__more {
    color: $pink;
    font-size: 14px;
    font-weight: 200;

    &:hover {
      text-decoration: none;
    }
  }
}

.reviews {
  background: #fff;
  padding: 10px 40px 0 40px;

  &__item {

    @include tablet {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;

    @include tablet {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 35px;
    }
  }

  &__who {
    display: none;

    @include tablet {
      display: block;
      font-size: 14px;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 700;

    @include tablet {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

}

.switches {
  padding: 30px 0 0 0;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width:5px;
    height: 5px;
    background-color: #bec2c7;
    @include border-radius(50%);
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item--active {
    width: 7px;
    height: 7px;
    @include box-shadow(0, 0, 0, 3px, rgba(29, 38, 49, 1));
    @include border-radius(50%);
    background: #fff;
  }

  &--prices {
    @include tablet {
      display: none;
    }
  }
}


.prices {
  overflow: hidden;
  background: $grey-bg;

  &__wrap {
    height: 284px;
    display: flex;
    margin-left: -263px;

    @include tablet {
      margin-left: 0;
      height: 100%;
      padding: 0 40px 70px 40px;
    }
  }

  &__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  &__head {
    display: table-row;
  }

  &__row {
    display: table-row;
  }

  &__th {
    display: table-cell;
    width: 25%;
    background: $blue-menu;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border-left: 2px solid $grey;

    @include tablet {
      height: 80px;
    }

    &--desc {
      background: $grey-bg;
      border-bottom: 2px solid $grey;
      margin-bottom: -2px;
      border-left: 0;
    }
  }

  &__th:nth-child(2) {
    border-left: 2px solid $blue-menu;
  }

  &__th:last-child {
    border-right: 2px solid $blue-menu;
  }

  &__td {
    width: 25%;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    background: #fff;
    border: 2px solid $grey;
    box-sizing: padding-box;

    &--borderless {
      border-top: none;
    }

    &--desc {
      font-size: 14px;
      text-align: left;
      padding: 0 15px;
      color: $blue-text;
    }
  }

  &__th-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    @include tablet {
      font-size: 16px;
    }
  }

  &__th-price {
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;

    @include tablet {
      font-size: 18px;
    }
  }

  &__td-title {
    @include tablet {
      display: none;
    }
  }

  &__td-switch {
    right: 0;
    width: 28px;
    height: 28px;

    @include tablet {
      margin: auto;
    }

  }

  &__desc-header {
    height: 58px;
    padding: 20px;
  }

  &__desc-title {
    height: 40px;
    border: 1px solid $grey;
    background: #fff;
    font-size: 14px;
    font-weight: 200;
    line-height: 39px;
  }

  &__desc-title:first-of-type {
    border-top: 2px solid $grey;
  }

  @include tablet {
  }
}

.contacts {
  background: #fff;
  padding-top: 40px;

  &__wrap {

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__headline-wrapper {
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 30px;

    @include tablet {
      min-width: 50%;
      margin-bottom: 37px;
    }
  }

  &__item:last-child {
    @include tablet {
      min-width: 100%;
    }
  }

  &__link {
    color: $pink;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
  }
  &__map {
    position: relative;
    height: 216px;
    background: url('../img/map.jpg') no-repeat 38% 50%;

    @include tablet {
      height: 367px;
    }
  }

  &__map-arrow {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
  }

  &__map-marker {
    width: 17px;
    height: 17px;
    @include border-radius(50%);
    border: 10px solid #fff;
    background: $pink;
    position: absolute;
    top: 50%;
    left: 47%;
  }
}