.intro {
  background: url('../img/intro-bg.jpg') no-repeat 50% 0;
  position: relative;
  background-size: cover;
  padding-top: 85px;
  min-height: 137px;

  &__image {
    left: -5px;
    height: 285px;
    text-align: left;
    overflow: hidden;

    img {
      margin-left: -12px;
    }
  }
}