@import 'variables';
@import 'fonts';
@import 'mixins';


html {
  height:100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #626262;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  text-align: center;
  margin: 0 auto;

  &--white {
    background: #fff;
  }

  @include tablet {
    max-width: 700px;
  }
}

@import 'main-header';

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 74px;
  height: 22px;
  background: url('../img/logotype-white-mobile.svg');

  @include tablet {
    left: 40px;
    top: 25px;
    width: 146px;
    height: 40px;
    background: url('../img/logotype-white-tablet.svg');
  }

  &--footer {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 44px;
    left: 0;
    top: 0;

    @include tablet {
      margin: 0;
      top: -4px;
      left: 0;
    }
  }
}

.top-navigation {
  display: none;
  background: $blue-menu;
  z-index: 2;
  color: #fff;
  font-weight: 600;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    box-shadow: 0 -2px 0 -1px rgba(72, 84, 97, 1), 0 -3px 0 -1px rgba(0, 0, 0, 1);
    padding: 25px;
    text-transform: uppercase;
  }

  &__item:last-child {
    border-bottom: 1px solid #000;
  }
}

.main-headline {
  font-size: 24px;
  position: relative;
  font-weight: 300;
  padding: 0 30px 27px 30px;
  line-height: 30px;
  color: $blue-text;

  &--white {
    color: #fff;
  }

  @include tablet {
    position: absolute;
    left: 57px;
    top: 200px;
    width: 30%;
    padding: 0 30px;
    font-size: 40px;
    line-height: 48px;
  }

  &--form {
    @include tablet {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 50px;
      line-height: 60px;
      padding: 0 50px 80px;
      box-sizing: border-box;
    }
  }
}


.headline {
  font-size: 24px;
  position: relative;
  font-weight: 300;
  padding: 0 30px 27px 30px;
  line-height: 30px;
  color: $blue-text;

  &--contacts:first-child {
    padding-bottom: 0;
  }
}

.headline:last-child {
  padding-bottom: 0;
}

.sub-headline {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;

  &--contacts {
    margin-bottom: 5px;
  }
}

.intro {
  background: url('../img/background-mobile@1x.jpg') no-repeat 50% 0;
  position: relative;
  background-size: cover;
  padding-top: 85px;
  min-height: 137px;

  &__image {
    height: 285px;
    width: 320px;
    margin: 0 auto;
    text-align: left;
    background: url('../img/iphone-hand-mobile.png') no-repeat 0 0;

    @include tablet {
      height: 544px;
      width: 656px;
      background: url('../img/iphone-hand-tablet@1x.png') no-repeat 0 0;
    }
  }

  @include tablet {
    padding-top: 183px;
    background: url('../img/background-tablet@1x.jpg') no-repeat 50% 0;
  }
}

.text {
  padding: 0 20px 0 20px;

  &--review {
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
  }

  &--form {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding-top: 18px;
    text-align: center;

    @include tablet {
      font-size: 18px;
      padding: 18px 100px 0;
    }
  }

  &--intro {
    font-size: 18px;
  }

  span {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.main-divider {
  position: absolute;
  width: 100%;

  &--information{
    svg {
      use {
        @include tablet {
          transform: translate(450px, 0px);
        }
      }
    }
  }


  &--prices {
    position: relative;

    svg {
      use {
        transform: translate(0px, 0px);
      }
    }

  }
}

@import 'index';

@import 'form';

@import 'footer';

