@import 'variables';
@import 'fonts';

html {
  height:100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #626262;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  position: relative;
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  height: 66px;
  position: absolute;
  z-index: 1;

  &__line {
    height: 26px;
    padding: 20px;
    clear: both;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__toggle-icon {
    float:right;
    width: 50px;
    height: 24px;
    background: url('../img/nav-toggle.png') no-repeat 0 0;
    background-size: cover;
    z-index: 1;

    &--opened {
      background: url('../img/nav-toggle.png') no-repeat -100px 0;
      background-size: cover;
    }
  }
}

.logo {
  float: left;
}

.top-navigation {
  display: none;
  background: $blue-menu;
  z-index: 2;
  color: #fff;
  font-weight: 600;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    box-shadow: 0 -2px 0 -1px rgba(72, 84, 97, 1), 0 -3px 0 -1px rgba(0, 0, 0, 1);
    padding: 25px;
    text-transform: uppercase;
  }

  &__item:last-child {
    border-bottom: 1px solid #000;
  }
}

.main-headline {
  font-size: 24px;
  position: relative;
  font-weight: 300;
  padding: 0 30px 30px 30px;
  line-height: 30px;

  &--white {
    color: #fff;
  }
}

.sub-headline {
  font-size: 18px;
  font-weight: bold;
}

.intro {
  background: url('../img/intro-bg.jpg') no-repeat 50% 0;
  position: relative;
  background-size: cover;
  padding-top: 85px;
  min-height: 137px;

  &__image {
    left: -5px;
    height: 285px;
    text-align: left;
    overflow: hidden;

    img {
      margin-left: -12px;
    }
  }
}

.applications {
  background-color: $blue-bg;
  position: relative;
  padding: 30px 0;
  color: #fff;
  z-index: 1;

  &__button {
    display: block;
    margin: 0 auto 30px auto;
    width: 280px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 30px;
    background: none;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }

  &__icons {
    padding: 0 30px;
  }

  &__icon {
    display:inline-block;
    margin-right: 36px;
    height: 57px;
  }

  &__icon--apple {
    width: 46px;
    background: url('../img/app-icons.png') no-repeat 0 0;
  }

  &__icon--android {
    width: 42px;
    background: url('../img/app-icons.png') no-repeat -46px 0;
  }

  &__icon--windows {
    width: 44px;
    background: url('../img/app-icons.png') no-repeat -88px 0;
  }

  &__icon:last-child {
    margin-right: 0;
  }
}

.text {
  padding: 20px 30px 0 30px;

  &--standart {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
  }

  &--review {
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
  }

}

.information {
  background: #fff;
  padding-top: 30px;

  &__items {
    background: $grey-bg;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__image {
    height: 278px;
  }
}

.main-divider {
  border: none;
  margin: 0;
  padding: 0;

    &--line {
      height: 100px;
      background-image: linear-gradient(-5deg, $grey-bg 70px, #fff 30px);
    }
    &--straight-line {
      height: 95px;
      background-image: linear-gradient(to bottom, $grey-bg 45px, #fff 45px);
    }
}

.reviews {
  background: #fff;
  padding: 40px 0 0 0;
}

.switches {
  padding: 30px 0 0 0;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width:5px;
    height: 5px;
    background-color: #bec2c7;
    border-radius: 3px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item--active {
    width: 7px;
    height: 7px;
    box-shadow: 0 0 0 3px $blue-bg;
    border-radius: 7px;
    background: #fff;
  }
}

.prices {
  background: $grey-bg;
  padding-top: 20px;
  white-space: nowrap;
  overflow: hidden;

  &__wrap {
    height: 284px;
    margin-left: -265px;
  }
}

.buy-plan {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  margin-right: -6px;

  &__header {
    position: relative;
    background: $blue-menu;
    height: 60px;
    padding: 20px;
    color: #fff;
  }

  &__image-hit {
    position:absolute;
    left: -2px;
    top: 0;
    background: url('../img/hit.png');
    width: 72px;
    height: 73px;
  }

  &__title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__price {
    font-size: 24px;
    font-weight: 300;
  }

  &__feature {
    position: relative;
    text-align: left;
    background: #fff;
    padding: 20px;
    border-bottom: 2px solid #e5e5e5;
  }

  &__feature:last-child {
    border-bottom: none;
  }

  &__feature-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
  }

  &__feature-switch {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 29px;
    height: 26px;
  }

  &__feature-switch--yes {
    background: url('../img/yes-no.png') no-repeat 0 0;
  }

  &__feature-switch--no {
    background: url('../img/yes-no.png') no-repeat -29px 0;
  }
}

.contacts {
  background: #fff;

  &__item {
    margin-bottom: 30px;
  }
  &__link {
    color: #d22856;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
  }
  &__map {
    position: relative;
    height: 216px;
    background: url('../img/map.jpg') no-repeat 0 0;
  }

  &__map-left-arrow {
    float: left;
    vertical-align: top;
    width: 50%;
    height: 40px;
    background-image: linear-gradient(to left bottom, #fff 50%, transparent 50%);
  }
  &__map-right-arrow {
    float: right;
    vertical-align: top;
    width: 50%;
    height: 40px;
    background-image: linear-gradient(to right bottom, #fff 50%, transparent 50%);
  }
}


form {
  background: #fff;
}

fieldset {
  margin:0;
  padding:40px 20px;
  border:0;
}

.form-legend {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form-input {
  margin-bottom: 20px;
  width: 280px;

  &__label {
    width: 280px;
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;
    display: block;
    text-align: left;
    padding: 0 0 10px 20px;

    &--bottom {
      text-align: center;
      padding: 10px 0 0 0;
    }
  }

  &__input {
    width: 235px;
    border: 2px solid #e7e7e7;
    padding: 20px;
    font-size: 18px;
    color: #283645;

    &--add {
      width: 160px;
    }
  }
  &__plus {
    font-size: 50px;
    color: #000;
    width: 60px;
  }
  &__minus {
    font-size: 80px;
    font-weight: 300;
    color: #000;
    width: 60px;
    border: 1px solid #e5e5e5;
  }
}

.form-input-add {

}

fieldset:nth-child(n+1) {
  background: $grey-bg;
}

fieldset:nth-child(2n) {
  background: #fff;
}