.text {
  padding: 0 20px 0 20px;

  &--standart {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
  }

  &--review {
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
  }

  &--form {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
  }
}