.footer {
  background: #fff;

  &--index {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__wrapper {
    display: block;
    padding: 13px 10px;
    margin: 0 auto;
    max-width: 960px;

    @include tablet {
      display: flex;
      padding: 40px 10px;
      justify-content: space-between;
    }

    @include desktop {
      padding: 75px 10px;
    }
  }

  &__developed {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: $blue;

    @include tablet {
      width: 33%;
      margin-bottom: 0;
      text-align: right;
      justify-content: flex-end;
    }

    &:hover {
      color: $blue;
      svg {
        fill: $blue;
      }
    }

    &:active {
      color: $blue;
      svg {
        opacity: 0.3;
      }
    }
  }

  &__developed-text {
    margin-right: 15px;
    padding: 14px 0;
    font-size: 14px;

    @include tablet {
      margin-right: 12px;
    }

    @include desktop {
      margin-right: 14px;
      font-size: 18px;
      padding: 11px 0;
    }
  }

  &__developed-icon {
    height: 48px;

    svg {
      fill: $pink;
      margin-top: 9px;
    }
  }
}

.social-icons {
  display: flex;
  top: 2px;
  width: 170px;
  margin: 38px auto 34px auto;
  justify-content: space-between;

  &__item {
    width: 44px;
    height: 44px;
    @include border-radius(50%);
    border: 3px solid $grey;

    svg {
      padding: 12px;
    }

    &:hover {
      border: 3px solid $blue;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include tablet {
    margin: 4px 0 0;
    width: 169px;
  }
}
