@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin media-r($res) {
  @media (min-resolution: $res+dppx) {
    @content
  }
}

@mixin tablet-res() {
  @media (min-resolution: 2dppx) and (min-width: 660px) {
    @content;
  }
}

@mixin desktop-res() {
  @media (min-resolution: 2dppx) and (min-width: 960px) {
    @content;
  }
}

@mixin box-shadow($top, $left, $blur, $spread, $color) {
  -webkit-box-shadow:$top $left $blur $spread $color;
  -moz-box-shadow:$top $left $blur $spread $color;
  box-shadow:$top $left $blur $spread $color ;
}

@mixin tablet {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 960px) {
    @content;
  }
}
