@import 'variables';
@import 'mixins';
@import 'fonts';

html {
  height:100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #626262;
  color: $blue;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: $blue;
}

img {
  vertical-align:bottom;
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

  &--white {
    background: #fff;
  }

  @include tablet {
    max-width: 960px;
  }
}

@import 'main-header';

@import 'components/logo';



.main-headline {
  position: relative;
  line-height: 30px;
  color: #fff;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 300;
    padding: 0 30px 27px;

    @include tablet {
      width: 300px;
      font-size: 40px;
      line-height: 48px;
      margin: 0 auto;
      padding: 0 30px;
      box-sizing: border-box;
    }

    @include desktop {
      font-size: 50px;
      line-height: 60px;
    }
  }

  @include tablet {
    width: 50%;
    position: absolute;
    top: 200px;
    left: 20px;
  }

  @include desktop {
    width: 306px;
    left: 10px;
    top: 213px;
  }
}


.headline {
  font-size: 24px;
  position: relative;
  font-weight: 300;
  line-height: 29px;
  color: $blue;
  z-index: 2;

  &:first-child {
    padding-bottom: 28px;
  }

  &--contacts:first-child {
    padding-bottom: 0;
  }

  @include tablet {
    font-size: 40px;
    line-height: 48px;
  }

  @include desktop {
    font-size: 50px;
    line-height: 60px;
  }
}

.headline:last-child {
  padding-bottom: 0;
}

.alert {
  width: 100%;
  background: $pink;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.intro {
  overflow: hidden;
  background-size: cover;
  background: url('../img/background-mobile@1x.jpg') no-repeat 50% 0;

  @include media-r(2) {
    background-image: url('../img/background-mobile@2x.jpg');
  }

  @include media-r(3) {
    background-image: url('../img/background-mobile@3x.jpg');
  }

  @include tablet {
    background-size: cover;
    text-align: right;
    background-image: url('../img/background-tablet@1x.jpg');
  }

  @include tablet-res {
    background-image: url('../img/background-tablet@2x.jpg');
  }

  @include desktop {
    background-size: cover;
    background-image: url('../img/background-fullsize.jpg');
  }

  &__wrapper {
    padding: 85px 0 0;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    @include tablet {
      padding: 183px 10px 0;
    }

    @include desktop {
      padding: 204px 10px 0;
    }
  }

  &__image {
    height: 286px;
    width: 258px;
    background: transparent url('../img/iphone-hand-mobile.png') 0 0 no-repeat;
    background-size: cover;
    margin: 0 auto;

    @include media-r(2) {
      background-image: url('../img/iphone-hand-mobile@2x.png');
    }

    @include media-r(3) {
      background-image: url('../img/iphone-hand-mobile@3x.png');
    }

    @include tablet {
      height: 545px;
      width: 656px;
      background: url('../img/iphone-hand-tablet@1x.png');
    }

    @include tablet-res {
      background: url('../img/iphone-hand-tablet@2x.png');
    }

    @include desktop {
      height: 645px;
      width: 884px;
      background: url('../img/iphone-hand-desktop@1x.png');
    }

    @include desktop-res {
      background: url('../img/iphone-hand-desktop@2x.png');
    }
  }

  &--form {

    padding-top: 96px;

    @include tablet {
      padding-top: 180px;
    }

    @include desktop {
      padding-top: 172px;
    }
  }
}

.text {
  padding: 0 20px 0 20px;

  &--review {
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
  }

  &--form {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 18px;
    text-align: center;

    @include tablet {
      font-size: 18px;
      padding: 18px 10px 42px;
    }

    @include desktop {
      font-size: 18px;
      padding: 18px 10px 72px;
    }
  }

  span {
    display: none;

    @include tablet {
      display: block;
    }

    @include desktop {
      display: inline;
    }
  }
}

@import 'index';

@import 'form';

@import 'footer';

