@import 'mixins';
@import 'variables';
@import 'fonts';

html {
  height:100%;
}

body {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background: #626262;
  color: $blue;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: $blue;
}

img {
  vertical-align:bottom;
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

  &--white {
    background: #fff;
  }

  @include tablet {
    max-width: 960px;
  }
}

@import 'main-header';

.logo {
  position: absolute;
  left: 18px;
  top: 21px;
  text-decoration: none;
  z-index: 1;

  &__pink-star {
    display: none;
    position: absolute;
    left: -1px;
    top: 0;
    width: 146px;
    height: 40px;
    fill: $pink;

    &--footer {
      top: -23px;
    }

    @include desktop {
      display: block;
    }
  }

  &__stars {
    display: none;
    position: absolute;
    left: -1px;
    top: 0;
    width: 146px;
    height: 40px;
    fill: $pink;

    &--footer {
      fill: $blue-bg;
      top: -23px;
    }

    @include desktop {
      display: block;
    }
  }

  &__glasses {
    display: none;
    width: 59px;
    height: 40px;
    margin-right: 5px;
    fill: #fff;

    &--footer {
      fill: $pink;
      margin-right: 6px;
    }

    @include desktop {
      display: inline;
    }

  }

  &__full-glasses {
    width: 59px;
    height: 40px;
    display: none;
    margin-right: 5px;
    fill: #fff;

    &--footer {
      display: inline;
      fill: $pink;
      margin-right: 6px;
    }

    @include tablet {
      display: inline;
    }

    @include desktop {
      display: none;
    }
  }

  &__letters {
    display: inline;
    width: 76px;
    height: 26px;
    fill: #fff;

    &--footer {
      fill: $blue-bg;
    }

    @include tablet {
      width: 76px;
      height: 24px;
    }
  }

  @include tablet {
    top: 27px;
    left: 20px;
    width: 146px;
    height: 40px;
  }

  @include desktop {
    top: 27px;
    left: 10px;
  }

  &--footer {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto;

    @include tablet {
      top: -5px;
      left: 11px;
    }

    @include desktop {
      left: 0;
      top: 0;
    }
  }

  &:hover {
    svg {
      fill: $pink;
    }
  }

  &:active {
    opacity: 0.3;

    .logo__pink-star {
      fill: #fff;

      &--footer {
        fill: $pink;
      }
    }

    .logo__stars {
      fill: $pink;

      &--footer {
        fill: $blue-bg;
      }
    }

    .logo__glasses {
      fill: #fff;

      &--footer {
        fill: $pink;
      }
    }

    .logo__full-glasses {
      fill: #fff;

      &--footer {
        fill: $pink;
      }
    }

    .logo__letters {
      fill: #fff;

      &--footer {
        fill: $blue-bg;
      }
    }
  }
}

.main-headline {
  position: relative;
  line-height: 30px;
  color: #fff;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 300;
    padding: 0 30px 27px;

    @include tablet {
      width: 300px;
      font-size: 40px;
      line-height: 48px;
      margin: 0 auto;
      padding: 0 30px;
      box-sizing: border-box;
    }

    @include desktop {
      font-size: 50px;
      line-height: 60px;
    }
  }

  @include tablet {
    width: 50%;
    position: absolute;
    top: 203px;
    left: 5px;
  }

  @include desktop {
    width: 306px;
    left: 10px;
    top: 218px;
  }
}


.headline {
  font-size: 24px;
  position: relative;
  font-weight: 300;
  line-height: 29px;
  color: $blue;
  z-index: 2;

  &:first-child {
    padding-bottom: 28px;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &--contacts:first-child {
    padding-bottom: 0;
  }

  @include tablet {
    font-size: 40px;
    line-height: 48px;
  }

  @include desktop {
    font-size: 50px;
    line-height: 60px;
  }
}

.headline:last-child {
  padding-bottom: 0;
}

.alert {
  width: 100%;
  background: $pink;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.intro {
  overflow: hidden;
  background-size: cover;
  background: #293646 url('../img/background-mobile@1x.jpg') no-repeat 50% 0;

  @include media-r(2) {
    background-image: url('../img/background-mobile@2x.jpg');
  }

  @include media-r(3) {
    background-image: url('../img/background-mobile@3x.jpg');
  }

  @include tablet {
    background-size: cover;
    text-align: right;
    background-image: url('../img/background-tablet@1x.jpg');
  }

  @include tablet-res {
    background-image: url('../img/background-tablet@2x.jpg');
  }

  @include desktop {
    background-size: cover;
    background-image: url('../img/background-fullsize.jpg');
  }

  &__wrapper {
    padding: 85px 0 0;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    @include tablet {
      padding: 183px 10px 0;
    }

    @include desktop {
      padding: 209px 10px 0;
    }
  }

  &__image {
    height: 286px;
    width: 258px;
    background: transparent url('../img/iphone-hand-mobile.png') 0 0 no-repeat;
    background-size: cover;
    margin: 0 auto;

    @include media-r(2) {
      background: url('../img/iphone-hand-mobile@2x.png') 0 0 no-repeat;
    }

    @include media-r(3) {
      background: url('../img/iphone-hand-mobile@3x.png') 0 0 no-repeat;
    }

    @include tablet {
      height: 545px;
      width: 656px;
      background: url('../img/iphone-hand-tablet@1x.png') -30px 0 no-repeat;
    }

    @include tablet-res {
      background: url('../img/iphone-hand-tablet@2x.png') -30px 0 no-repeat;
    }

    @include desktop {
      height: 645px;
      width: 884px;
      background: url('../img/iphone-hand-desktop@1x.png') -11px 0 no-repeat;
    }

    @include desktop-res {
      background: url('../img/iphone-hand-desktop@2x.png') -11px 0 no-repeat;
    }
  }

  &--form {

    padding-top: 96px;

    @include tablet {
      padding-top: 180px;
    }

    @include desktop {
      padding-top: 172px;
    }
  }
}

.text {
  padding: 0 20px 0 20px;

  &--review {
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
  }

  &--form {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 18px;
    text-align: center;

    @include tablet {
      font-size: 18px;
      padding: 18px 10px 0;
    }

    @include desktop {
      font-size: 18px;
      padding: 18px 10px 0;
    }
  }

  &__second-line {
    display: none;

    @include tablet {
      display: block;
    }

    @include desktop {
      display: inline;
    }
  }
}

@import 'index';

@import 'form';

@import 'footer';

