.form-input {
  margin-bottom: 20px;
  width: 280px;
  text-align: left;

  &--radio {
    &__radio {
      display: none;

      & + label {
        font-size: 18px;

        &:before {
          content: "";
          display: inline-block;
          background: #fff;
          vertical-align: middle;
          width: 15px;
          height: 15px;
          @include border-radius(50%);
          border: 10px solid #fff;
          @include box-shadow(0, 0, 0, 1px, rgba(229, 229, 229, 1));
          margin-right: 20px;
          cursor:pointer;
        }
      }

      &:checked + label:before {
        background: $pink;
      }
    }
  }

  &--checkbox {
    margin-bottom: 40px;


    &__checkbox {
      display: none;

      &:checked + label:before {
        background: url('../img/yes-pink.png') no-repeat 50% 50%;
      }
    }

    &__label {
      font-size: 18px;

      &:before {
        content: "";
        display: inline-block;
        background: #fff;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        @include border-radius(2px);
        border: 2px solid $grey;
        margin-right: 20px;
        cursor:pointer;
      }
    }
  }

  &__label {
    width: 280px;
    font-size: 14px;
    color: $pink;
    text-transform: uppercase;
    display: block;
    text-align: left;
    padding: 0 0 10px 20px;
    letter-spacing: 0;

    &--bottom {
      text-align: center;
      padding: 10px 0 0 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--add {
    letter-spacing: -7px;
  }

  &__input {
    width: 235px;
    border: 2px solid #e7e7e7;
    padding: 20px;
    height: 20px;
    font-size: 18px;
    color: #283645;

    &--add {
      width: 112px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__plus-minus {
    border: 2px solid #e7e7e7;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -7px;
    width: 60px;
    height: 60px;
    cursor: pointer;

    &--minus {
      background: #fff url('../img/plus-minus.png') no-repeat 0 0;
      border-right: 0;
    }
    &--plus {
      background: #fff url('../img/plus-minus.png') no-repeat -60px 0;
      border-left: 0;
    }
  }
}