form {
  background: #fff;
  padding-top: 28px;
}

fieldset {
  margin:0;
  padding:40px 20px;
  border:0;
}

fieldset:nth-child(n+1) {
  background: $grey-bg;
}

fieldset:nth-child(2n) {
  background: #fff;
}

input:disabled {
  background: #f2f2f2;
}

.form-legend {
  font-size: 14px;
  color: $pink;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@import 'form-input';

.companion {
  letter-spacing: -7px;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-divider {
  margin: 50px 0;
  border: none;
  height: 2px;
  width: 100%;
  background-color: $grey;
}

@import 'number-input';

@import 'double-input';

@import 'photos';

@import 'submit';