@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../../fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../../fonts/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../../fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../../fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../../fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../../fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../../fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../../fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../../fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../../fonts/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../../fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../../fonts/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../../fonts/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
html {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #626262; }

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a:active {
  color: #283645; }

img {
  vertical-align: bottom; }

.main-wrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  text-align: center;
  margin: 0 auto; }
  .main-wrapper--white {
    background: #fff; }
  @media (min-width: 700px) {
    .main-wrapper {
      max-width: 1200px; } }

.main-header {
  width: 100%;
  height: 66px;
  position: absolute;
  z-index: 1; }
  .main-header__line {
    height: 26px;
    padding: 20px;
    clear: both;
    background-color: rgba(0, 0, 0, 0.3); }
    .main-header__line--opened {
      background-color: #283645; }
    @media (min-width: 700px) {
      .main-header__line {
        height: 30px;
        padding: 40px; } }
  .main-header__toggle-icon {
    float: right;
    background-size: cover;
    z-index: 1;
    cursor: pointer;
    width: 50px;
    height: 24px;
    background: url("../img/menu-burger.svg") no-repeat 0 0; }
    @media (min-width: 1200px) {
      .main-header__toggle-icon {
        display: none; } }
    .main-header__toggle-icon:hover {
      background: url("../img/menu-burger-pink.svg") no-repeat 0 0; }
    .main-header__toggle-icon:active {
      opacity: 0.3; }
    .main-header__toggle-icon--opened {
      background: url("../img/menu-cross.svg") no-repeat 50% 0; }
      .main-header__toggle-icon--opened:hover {
        background: url("../img/menu-cross-pink.svg") no-repeat 50% 0; }

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  text-decoration: none; }
  .logo__pink-star {
    display: none;
    position: absolute;
    left: -1px;
    top: 0;
    width: 146px;
    height: 40px;
    fill: #d22856; }
    @media (min-width: 1200px) {
      .logo__pink-star {
        display: block; } }
  .logo__stars {
    display: none;
    position: absolute;
    left: -1px;
    top: 0;
    width: 146px;
    height: 40px;
    fill: #d22856; }
    .logo__stars--footer {
      fill: #1d2631; }
    @media (min-width: 1200px) {
      .logo__stars {
        display: block; } }
  .logo__glasses {
    display: none;
    width: 59px;
    height: 40px;
    margin-right: 5px;
    fill: #fff; }
    .logo__glasses--footer {
      fill: #d22856;
      margin-right: 6px; }
    @media (min-width: 1200px) {
      .logo__glasses {
        display: inline; } }
  .logo__full-glasses {
    width: 59px;
    height: 40px;
    display: none;
    margin-right: 5px;
    fill: #fff; }
    .logo__full-glasses--footer {
      display: inline;
      fill: #d22856;
      margin-right: 6px; }
    @media (min-width: 700px) {
      .logo__full-glasses {
        display: inline; } }
    @media (min-width: 1200px) {
      .logo__full-glasses {
        display: none; } }
  .logo__letters {
    display: inline;
    width: 74px;
    height: 22px;
    fill: #fff; }
    .logo__letters--footer {
      fill: #1d2631; }
    @media (min-width: 700px) {
      .logo__letters {
        width: 76px;
        height: 24px; } }
  @media (min-width: 700px) {
    .logo {
      left: 40px;
      top: 25px;
      width: 146px;
      height: 40px; } }
  @media (min-width: 1200px) {
    .logo {
      left: 130px; } }
  .logo--footer {
    position: relative;
    width: 100%;
    margin-bottom: 37px;
    text-align: center;
    left: 0;
    top: 0; }
    @media (min-width: 700px) {
      .logo--footer {
        width: 33%;
        margin: 0;
        text-align: left; } }
  .logo:hover svg {
    fill: #d22856; }
  .logo:active {
    opacity: 0.3; }
    .logo:active .logo__pink-star {
      fill: #fff; }
      .logo:active .logo__pink-star--footer {
        fill: #d22856; }
    .logo:active .logo__stars {
      fill: #d22856; }
      .logo:active .logo__stars--footer {
        fill: #1d2631; }
    .logo:active .logo__glasses {
      fill: #fff; }
      .logo:active .logo__glasses--footer {
        fill: #d22856; }
    .logo:active .logo__full-glasses {
      fill: #fff; }
      .logo:active .logo__full-glasses--footer {
        fill: #d22856; }
    .logo:active .logo__letters {
      fill: #fff; }
      .logo:active .logo__letters--footer {
        fill: #1d2631; }

.top-navigation {
  display: none;
  background: #283645;
  color: #fff;
  font-weight: 600;
  z-index: 1000; }
  .top-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 1200px) {
      .top-navigation__list {
        display: flex; } }
  .top-navigation__underline {
    display: none; }
  .top-navigation__item {
    box-shadow: 0 -2px 0 -1px #485461, 0 -3px 0 -1px black;
    padding: 25px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer; }
    @media (min-width: 1200px) {
      .top-navigation__item {
        background: none;
        font-size: 18px;
        text-transform: none;
        font-weight: 200;
        box-shadow: none;
        margin-right: 18px; } }
    .top-navigation__item a {
      text-decoration: none;
      color: #fff; }
    .top-navigation__item:last-child {
      border-bottom: 1px solid #000; }
      @media (min-width: 1200px) {
        .top-navigation__item:last-child {
          margin-right: 0;
          border-bottom: 0; } }
    .top-navigation__item:hover a {
      color: #d22856; }
      @media (min-width: 1200px) {
        .top-navigation__item:hover a {
          color: #fff; } }
    @media (min-width: 1200px) {
      .top-navigation__item:hover .top-navigation__underline {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 5px;
        background: #fff;
        top: 20px; } }
    .top-navigation__item:active a {
      opacity: 0.3; }
    .top-navigation__item:active .top-navigation__underline {
      display: none; }
  @media (min-width: 1200px) {
    .top-navigation {
      display: block; } }
  @media (min-width: 1200px) {
    .top-navigation {
      position: absolute;
      right: 103px;
      top: 16px;
      background: none; } }
  .top-navigation--opened {
    display: block; }

.main-headline {
  position: relative;
  line-height: 30px;
  color: #fff;
  text-align: center; }
  .main-headline h2 {
    font-size: 24px;
    font-weight: 300;
    padding: 0 30px 27px; }
    @media (min-width: 700px) {
      .main-headline h2 {
        width: 300px;
        font-size: 40px;
        line-height: 48px;
        margin: 0 auto;
        padding: 0 30px;
        box-sizing: border-box; } }
    @media (min-width: 1200px) {
      .main-headline h2 {
        font-size: 50px;
        line-height: 60px; } }
  @media (min-width: 700px) {
    .main-headline {
      width: 50%;
      position: absolute;
      top: 200px;
      left: 20px; } }
  @media (min-width: 1200px) {
    .main-headline {
      width: 47%;
      left: 0;
      top: 213px; } }

.headline {
  font-size: 24px;
  position: relative;
  font-weight: 300;
  padding: 0 30px 27px 30px;
  line-height: 30px;
  color: #283645; }
  .headline--contacts:first-child {
    padding-bottom: 0; }
  @media (min-width: 700px) {
    .headline {
      font-size: 40px;
      line-height: 48px;
      padding: 0 40px; } }
  @media (min-width: 1200px) {
    .headline {
      font-size: 50px;
      line-height: 60px;
      padding: 0 130px; } }

.headline:last-child {
  padding-bottom: 0; }

.alert {
  width: 100%;
  background: #d22856;
  color: #fff;
  padding: 10px;
  box-sizing: border-box; }

.intro {
  position: relative;
  padding-top: 85px;
  min-height: 137px;
  overflow: hidden; }
  .intro__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2; }
    @media (min-width: 1200px) {
      .intro__background img {
        width: 1300px; } }
  .intro__image {
    height: 285px;
    width: 320px;
    margin: 0 auto; }
    @media (min-width: 700px) {
      .intro__image {
        height: 544px;
        width: 656px; } }
    @media (min-width: 1200px) {
      .intro__image {
        height: 645px;
        width: 884px; } }
  @media (min-width: 700px) {
    .intro {
      text-align: right;
      padding-top: 183px;
      background-size: cover; } }
  @media (min-width: 1200px) {
    .intro {
      padding-top: 204px;
      background-size: cover; } }
  .intro--form {
    padding-top: 96px; }
    @media (min-width: 700px) {
      .intro--form {
        padding-top: 180px; } }
    @media (min-width: 1200px) {
      .intro--form {
        padding-top: 172px; } }

.text {
  padding: 0 20px 0 20px; }
  .text--review {
    font-size: 14px;
    font-weight: 200;
    line-height: 30px; }
  .text--form {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding-top: 18px;
    text-align: center; }
    @media (min-width: 700px) {
      .text--form {
        font-size: 18px;
        padding: 18px 70px 42px; } }
    @media (min-width: 1200px) {
      .text--form {
        font-size: 18px;
        padding: 18px 200px 72px; } }
  .text span {
    display: none; }
    @media (min-width: 700px) {
      .text span {
        display: block; } }
    @media (min-width: 1200px) {
      .text span {
        display: inline; } }

.applications {
  background-color: #1d2631;
  position: relative;
  padding: 29px 0;
  color: #fff;
  text-align: center; }
  .applications__button {
    display: block;
    opacity: .99;
    margin: 0 auto 32px;
    width: 275px;
    color: #fff;
    border: 3px solid #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background: none;
    padding: 11px 0 14px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none; }
    @media (min-width: 700px) {
      .applications__button {
        margin: 0 auto 43px; } }
    @media (min-width: 1200px) {
      .applications__button {
        width: 300px;
        font-size: 21px;
        padding: 9px 0 11px;
        margin: 0 auto 66px; } }
    .applications__button:hover {
      background: #fff;
      color: #d22856; }
    .applications__button:active span {
      opacity: 0.3; }
  .applications__icons {
    width: 206px;
    margin: 0 auto 22px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px; }
    @media (min-width: 700px) {
      .applications__icons {
        margin: 0 auto 36px; } }
    @media (min-width: 700px) {
      .applications__icons {
        margin: 0 auto 55px; } }
  .applications__icon {
    height: 57px; }
  .applications__icon--apple {
    min-width: 46px;
    background: url("../img/apple-logo.svg") no-repeat 0 0; }
  .applications__icon--android {
    min-width: 42px;
    background: url("../img/android-logo.svg") no-repeat 0 9px; }
  .applications__icon--windows {
    min-width: 44px;
    background: url("../img/microsoft-logo.svg") no-repeat 0 13px; }
  .applications__icon:last-child {
    margin-right: 0; }
  .applications__text {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    padding: 0 20px; }
    @media (min-width: 700px) {
      .applications__text {
        font-size: 18px;
        line-height: 24px;
        max-width: 300px;
        margin: 0 auto; } }
  @media (min-width: 700px) {
    .applications {
      position: absolute;
      top: 348px;
      left: 20px;
      background: none;
      width: 50%; } }
  @media (min-width: 1200px) {
    .applications {
      width: 47%;
      top: 417px;
      left: 0; } }

.main-divider {
  position: absolute;
  width: 100%;
  z-index: 1; }
  .main-divider--information svg use {
    transform: translate(0, 0px); }
    @media (min-width: 700px) {
      .main-divider--information svg use {
        transform: translate(450px, 0px); } }
  @media (min-width: 1200px) {
    .main-divider--information {
      top: 325px; } }
  .main-divider--prices {
    position: relative; }
    .main-divider--prices svg use {
      transform: translate(0px, 0px); }
      @media (min-width: 700px) {
        .main-divider--prices svg use {
          transform: translate(400px, 0px); } }
      @media (min-width: 1200px) {
        .main-divider--prices svg use {
          transform: translate(400px, 0px); } }
    @media (min-width: 1200px) {
      .main-divider--prices {
        margin-bottom: 49px; } }

.information {
  background: #fff;
  padding-top: 40px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 1200px) {
    .information__headline-wrapper {
      margin-bottom: 78px; } }
  .information__items-wrapper {
    background: #f2f2f2;
    padding: 111px 20px 0; }
    @media (min-width: 700px) {
      .information__items-wrapper {
        display: flex;
        flex-direction: row-reverse;
        padding: 50px 0 0; } }
    @media (min-width: 1200px) {
      .information__items-wrapper {
        padding: 0; } }
  .information__items {
    padding: 0 0 10px 0;
    z-index: 1; }
    @media (min-width: 700px) {
      .information__items {
        width: 50%;
        text-align: left;
        padding: 70px 0 0 0; } }
    @media (min-width: 1200px) {
      .information__items {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center; } }
  .information__item {
    padding-bottom: 31px; }
    @media (min-width: 700px) {
      .information__item {
        padding-bottom: 34px; } }
    @media (min-width: 1200px) {
      .information__item {
        min-width: 292px;
        max-width: 292px;
        text-align: center;
        margin-right: 32px; } }
  .information__item:last-child {
    margin-right: 0; }
  .information__small-image {
    display: none;
    z-index: 2; }
    @media (min-width: 1200px) {
      .information__small-image {
        display: block;
        margin-bottom: 51px; } }
  .information__headline {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px; }
    @media (min-width: 1200px) {
      .information__headline {
        font-size: 30px;
        margin-bottom: 24px;
        line-height: 30px;
        padding: 0 20px; } }
  .information__text {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px; }
    @media (min-width: 700px) {
      .information__text {
        padding: 0 40px 0 0; } }
    @media (min-width: 1200px) {
      .information__text {
        line-height: 30px;
        font-size: 18px;
        font-weight: 500;
        padding: 0 20px; } }
  .information__image {
    z-index: 1;
    height: 278px;
    position: relative; }
    @media (min-width: 700px) {
      .information__image {
        width: 50%;
        height: 472px; } }
    @media (min-width: 1200px) {
      .information__image {
        display: none; } }
  @media (min-width: 700px) {
    .information {
      padding-top: 50px; } }
  @media (min-width: 1200px) {
    .information {
      padding-top: 67px; } }
  .information__image-screen {
    vertical-align: bottom;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 142px;
    margin-left: -71px; }
    .information__image-screen--1 {
      display: none; }
    .information__image-screen--2 {
      display: none; }
    .information__image-screen--3 {
      display: block; }
    .information__image-screen img {
      vertical-align: bottom; }
      @media (min-width: 700px) {
        .information__image-screen img {
          width: 268px; } }
    @media (min-width: 700px) {
      .information__image-screen {
        position: relative;
        margin: 0 auto;
        left: 0;
        bottom: 0;
        width: 268px; } }

.article-brief {
  display: none;
  background: #fff;
  padding: 60px 0; }
  @media (min-width: 700px) {
    .article-brief {
      display: flex; } }
  .article-brief__image {
    position: relative;
    width: 50%; }
    .article-brief__image svg {
      width: 260px;
      height: 300px; }
      @media (min-width: 1200px) {
        .article-brief__image svg {
          width: 300px;
          height: 350px;
          margin-left: 10px; } }
    @media (min-width: 1200px) {
      .article-brief__image {
        text-align: left;
        width: 33%;
        margin-right: 59px; } }
  .article-brief__image-text {
    font-weight: bold;
    position: absolute;
    color: #d22856; }
    @media (min-width: 700px) {
      .article-brief__image-text {
        font-size: 100px;
        top: 100px;
        left: 125px; } }
    @media (min-width: 1200px) {
      .article-brief__image-text {
        font-size: 120px;
        top: 109px;
        left: 92px; } }
  .article-brief__brief {
    width: 50%;
    text-align: left;
    padding: 38px 0; }
    @media (min-width: 700px) {
      .article-brief__brief {
        padding: 94px 0; } }
  .article-brief__headline {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-right: 40px; }
    @media (min-width: 1200px) {
      .article-brief__headline {
        margin-bottom: 21px; } }
  .article-brief__text {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    padding-right: 40px;
    margin-bottom: 10px; }
    @media (min-width: 1200px) {
      .article-brief__text {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 34px; } }
  .article-brief__more {
    color: #d22856;
    font-size: 14px;
    font-weight: 200;
    text-decoration: underline; }
    .article-brief__more:hover {
      text-decoration: none; }
    @media (min-width: 1200px) {
      .article-brief__more {
        font-size: 18px;
        font-weight: 500; } }
  @media (min-width: 1200px) {
    .article-brief {
      padding: 30px 120px 21px;
      background: #f2f2f2; } }

.reviews {
  background: #fff;
  padding: 44px 20px 0; }
  .reviews__arrow {
    margin: auto;
    cursor: pointer;
    display: none; }
    .reviews__arrow svg {
      fill: #bec2c7; }
    .reviews__arrow--right {
      transform: scale(-1, 1); }
    @media (min-width: 1200px) {
      .reviews__arrow {
        display: block; } }
    .reviews__arrow:hover svg {
      fill: #7e868f; }
    .reviews__arrow:active {
      opacity: 0.3; }
  .reviews__wrap {
    margin-bottom: 26px; }
    @media (min-width: 700px) {
      .reviews__wrap {
        margin-bottom: 33px; } }
    @media (min-width: 1200px) {
      .reviews__wrap {
        padding: 0 57px;
        margin-bottom: 25px; } }
  @media (min-width: 700px) {
    .reviews__item {
      display: flex;
      flex-direction: column-reverse; } }
  .reviews__quotes {
    display: none;
    margin-bottom: 45px; }
    .reviews__quotes svg {
      margin-right: 2px; }
    @media (min-width: 1200px) {
      .reviews__quotes {
        display: block; } }
  .reviews__author {
    margin-bottom: 16px; }
    @media (min-width: 700px) {
      .reviews__author {
        margin-bottom: 0; } }
  .reviews__text {
    font-size: 14px;
    line-height: 30px;
    font-weight: 200; }
    @media (min-width: 700px) {
      .reviews__text {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 35px; } }
    @media (min-width: 1200px) {
      .reviews__text {
        font-weight: 500; } }
  .reviews__who {
    display: none; }
    @media (min-width: 700px) {
      .reviews__who {
        display: block;
        font-size: 14px; } }
    @media (min-width: 1200px) {
      .reviews__who {
        font-size: 18px;
        line-height: 30px; } }
  .reviews__name {
    font-size: 18px;
    font-weight: 700; }
    @media (min-width: 700px) {
      .reviews__name {
        font-size: 20px;
        margin-bottom: 10px; } }
    @media (min-width: 1200px) {
      .reviews__name {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 4px; } }
  @media (min-width: 700px) {
    .reviews {
      padding: 10px 40px 0; } }
  @media (min-width: 1200px) {
    .reviews {
      display: flex;
      padding: 72px 130px 9px; } }

.switches__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; }
  .switches__item:hover {
    background-color: #7e868f; }
  .switches__item:active {
    background-color: #bec2c7;
    opacity: 0.3; }
.switches__item:last-child {
  margin-right: 0; }
.switches__item--active {
  width: 7px;
  height: 7px;
  -webkit-box-shadow: 0 0 0 3px #1d2631;
  -moz-box-shadow: 0 0 0 3px #1d2631;
  box-shadow: 0 0 0 3px #1d2631;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff; }
.switches--prices {
  margin-bottom: 43px; }
  @media (min-width: 700px) {
    .switches--prices {
      display: none; } }
@media (min-width: 1200px) {
  .switches {
    display: none; } }

.prices {
  overflow: hidden;
  background: #f2f2f2; }
  .prices__wrap {
    height: 284px;
    position: relative;
    margin: 25px 0 30px 0; }
    @media (min-width: 700px) {
      .prices__wrap {
        margin: 0;
        height: 100%;
        padding: 0 40px 70px; } }
    @media (min-width: 1200px) {
      .prices__wrap {
        padding: 0 130px 95px; } }
  .prices__table {
    display: table;
    position: absolute;
    left: -80%;
    width: 260%;
    border-collapse: collapse; }
    @media (min-width: 700px) {
      .prices__table {
        width: 100%;
        position: relative;
        left: 0; } }
  .prices__head {
    display: table-row; }
  .prices__row {
    display: table-row; }
  .prices__th {
    display: table-cell;
    position: relative;
    overflow: hidden;
    width: 33%;
    background: #283645;
    height: 98px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border-left: 2px solid #e5e5e5;
    border-bottom: 2px solid #283645;
    background-clip: padding-box; }
    @media (min-width: 700px) {
      .prices__th {
        height: 78px;
        width: 25%; } }
    @media (min-width: 1200px) {
      .prices__th {
        height: 96px; } }
    .prices__th--desc {
      display: none;
      background: #f2f2f2;
      border-bottom: 2px solid #e5e5e5;
      margin-bottom: -2px;
      border-left: 0; }
      @media (min-width: 700px) {
        .prices__th--desc {
          display: table-cell; } }
  .prices__th:nth-child(2) {
    border-left: 2px solid #283645; }
  .prices__th:last-child {
    border-right: 2px solid #283645; }
  .prices__hit {
    position: absolute;
    top: 9px;
    left: -28px;
    padding: 4px;
    width: 105px;
    height: 30px;
    background: #d22856;
    text-transform: uppercase;
    font-size: 14px;
    transform: rotate(-45deg);
    box-sizing: border-box; }
    @media (min-width: 700px) {
      .prices__hit {
        top: 4px;
        left: -34px; } }
    @media (min-width: 1200px) {
      .prices__hit {
        top: 9px;
        left: -28px; } }
  .prices__td {
    width: 33%;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    background: #fff;
    border: 2px solid #e5e5e5;
    height: 59px;
    position: relative;
    padding: 0 22px;
    background-clip: padding-box; }
    .prices__td--borderless {
      border-top: none; }
    .prices__td--desc {
      display: none;
      font-size: 14px;
      text-align: left;
      padding: 0 15px;
      color: #283645; }
      @media (min-width: 700px) {
        .prices__td--desc {
          display: table-cell; } }
      @media (min-width: 1200px) {
        .prices__td--desc {
          font-size: 18px;
          padding: 0 22px; } }
    @media (min-width: 700px) {
      .prices__td {
        width: 25%;
        height: 45px; } }
    @media (min-width: 1200px) {
      .prices__td {
        height: 59px; } }
  .prices__th-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (min-width: 700px) {
      .prices__th-title {
        font-size: 16px;
        margin-bottom: 5px; } }
    @media (min-width: 1200px) {
      .prices__th-title {
        font-size: 18px; } }
  .prices__th-price {
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase; }
    @media (min-width: 700px) {
      .prices__th-price {
        font-size: 18px; } }
    @media (min-width: 1200px) {
      .prices__th-price {
        font-size: 24px; } }
  .prices__td-title {
    text-transform: uppercase;
    font-size: 14px;
    text-align: left; }
    @media (min-width: 700px) {
      .prices__td-title {
        display: none; } }
  .prices__td-switch {
    top: 17px;
    right: 20px;
    width: 28px;
    height: 28px;
    position: absolute; }
    @media (min-width: 700px) {
      .prices__td-switch {
        position: relative;
        top: 0;
        right: 0;
        margin: auto; } }
  .prices__desc-header {
    height: 58px;
    padding: 20px; }
  .prices__desc-title {
    height: 40px;
    border: 1px solid #e5e5e5;
    background: #fff;
    font-size: 14px;
    font-weight: 200;
    line-height: 39px; }
  .prices__desc-title:first-of-type {
    border-top: 2px solid #e5e5e5; }

.contacts {
  background: #fff;
  padding-top: 44px; }
  .contacts__wrap {
    margin-bottom: 50px; }
    @media (min-width: 700px) {
      .contacts__wrap {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .contacts__wrap {
        padding: 0 115px;
        justify-content: center;
        margin-bottom: 0; } }
  .contacts__headline-wrapper {
    margin-bottom: 30px; }
    @media (min-width: 700px) {
      .contacts__headline-wrapper {
        margin-bottom: 43px; } }
    @media (min-width: 1200px) {
      .contacts__headline-wrapper {
        margin-bottom: 55px; } }
  .contacts__item-headline {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px; }
    @media (min-width: 1200px) {
      .contacts__item-headline {
        margin-bottom: 23px; } }
  .contacts__item {
    margin-bottom: 22px;
    z-index: 1; }
    .contacts__item--phone {
      min-width: 50%; }
      @media (min-width: 1200px) {
        .contacts__item--phone {
          min-width: 33%;
          order: 1; } }
    .contacts__item--mail {
      min-width: 50%; }
      @media (min-width: 1200px) {
        .contacts__item--mail {
          min-width: 33%;
          order: 3; } }
      .contacts__item--mail a:hover {
        color: #283645;
        text-decoration: underline; }
      .contacts__item--mail a:active {
        opacity: 0.3; }
    @media (min-width: 700px) {
      .contacts__item--address {
        min-width: 100%;
        margin-bottom: 20px; } }
    @media (min-width: 1200px) {
      .contacts__item--address {
        min-width: 33%;
        order: 2; } }
    @media (min-width: 700px) {
      .contacts__item {
        margin-bottom: 45px; } }
    @media (min-width: 1200px) {
      .contacts__item {
        margin-bottom: 0; } }
  .contacts__link {
    color: #d22856;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px; }
    @media (min-width: 700px) {
      .contacts__link {
        line-height: 30px; } }
  .contacts__map {
    position: relative; }
  .contacts__map-google {
    height: 198px; }
    @media (min-width: 700px) {
      .contacts__map-google {
        height: 385px; } }
    @media (min-width: 1200px) {
      .contacts__map-google {
        height: 522px; } }
  .contacts__map-arrow {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    z-index: 1; }
    .contacts__map-arrow img {
      width: 100%;
      height: 30px; }
      @media (min-width: 700px) {
        .contacts__map-arrow img {
          height: 80px; } }
      @media (min-width: 1200px) {
        .contacts__map-arrow img {
          height: 122px; } }
  @media (min-width: 1200px) {
    .contacts {
      padding-top: 65px; } }

form {
  background: #fff;
  padding-top: 28px;
  color: #283645; }
  form > div {
    padding: 40px 20px 44px 20px; }
    @media (min-width: 700px) {
      form > div {
        padding: 0 40px 58px; } }
    @media (min-width: 1200px) {
      form > div {
        padding: 0 130px 57px; } }
  form > div:nth-child(n+1) {
    background: #f2f2f2; }
    @media (min-width: 700px) {
      form > div:nth-child(n+1) {
        background: #fff; } }
  form > div:nth-child(2n) {
    background: #fff; }
  @media (min-width: 700px) {
    form {
      padding-top: 74px; } }

fieldset {
  margin: 0;
  border: 0;
  padding: 30px 0 0 0; }
  @media (min-width: 700px) {
    fieldset {
      border: 2px solid #e5e5e5;
      padding: 34px 57px 38px; } }

input[readonly] {
  background: #f2f2f2; }
  input[readonly]:hover {
    border: 2px solid #e5e5e5; }
  input[readonly]:active {
    border: 2px solid #e5e5e5; }

.form-main-headline {
  position: relative;
  line-height: 30px;
  color: #fff;
  padding: 0 30px 51px 30px;
  text-align: center; }
  .form-main-headline h2 {
    font-size: 24px;
    font-weight: 300; }
    @media (min-width: 700px) {
      .form-main-headline h2 {
        font-size: 50px;
        line-height: 60px;
        margin: 0 auto; } }
    @media (min-width: 1200px) {
      .form-main-headline h2 {
        padding: 0; } }
  @media (min-width: 700px) {
    .form-main-headline {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 0 40px 80px; } }
  @media (min-width: 1200px) {
    .form-main-headline {
      padding: 0 130px 100px; } }

@media (min-width: 700px) {
  .form-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }
@media (min-width: 1200px) {
  .form-flex-wrapper--column {
    flex-direction: column;
    height: 165px; } }

@media (min-width: 700px) {
  .personal-form fieldset {
    border: 0;
    padding: 0; } }

@media (min-width: 700px) {
  .application-form fieldset {
    padding: 49px 60px 56px; } }

@media (min-width: 1200px) {
  .travel-form fieldset {
    padding: 32px 57px 19px; } }
.travel-form fieldset input[type="date"] ::-webkit-inner-spin-button {
  display: none; }

@media (min-width: 1200px) {
  .companions fieldset {
    padding: 34px 57px 37px; } }

@media (min-width: 1200px) {
  .achievements fieldset {
    padding: 45px 57px 10px; } }

.form-legend {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  top: -5px;
  line-height: 19px;
  margin: auto; }
  .form-legend span {
    display: block;
    margin: auto; }
  @media (min-width: 700px) {
    .form-legend {
      top: 0;
      padding: 0 25px; } }

.form-input {
  width: 100%;
  margin-bottom: 22px;
  text-align: left;
  position: relative; }
  @media (min-width: 1200px) {
    .form-input {
      width: 32%;
      margin-bottom: 0; } }
  .form-input:last-child {
    margin-bottom: 0; }
  .form-input--radio {
    margin-bottom: 43px; }
    .form-input--radio__radio {
      display: none; }
      .form-input--radio__radio + label {
        font-size: 18px; }
        .form-input--radio__radio + label:before {
          content: "";
          display: inline-block;
          background: #fff;
          vertical-align: middle;
          width: 35px;
          height: 35px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          border: 2px solid #e5e5e5;
          margin: -3px 25px 0 0;
          cursor: pointer; }
        .form-input--radio__radio + label:hover:before {
          border: 2px solid #283645; }
        .form-input--radio__radio + label:active:before {
          border: 2px solid #d22856; }
      .form-input--radio__radio:checked + label:before {
        background: #fff url("../img/circle.svg") no-repeat 50% 50%; }
    @media (min-width: 1200px) {
      .form-input--radio {
        margin-bottom: 0;
        width: auto; } }
  .form-input--checkbox {
    margin-bottom: 46px; }
    .form-input--checkbox__checkbox {
      display: none; }
      .form-input--checkbox__checkbox:checked + label:before {
        background: url("../img/yes-pink.png") no-repeat 50% 50%; }
    .form-input--checkbox__label {
      font-size: 18px; }
      .form-input--checkbox__label:before {
        content: "";
        display: inline-block;
        background: #fff;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        border: 2px solid #e5e5e5;
        margin: -3px 20px 0 0;
        cursor: pointer; }
      .form-input--checkbox__label:hover:before {
        border: 2px solid #283645; }
      .form-input--checkbox__label:active:before {
        border: 2px solid #d22856; }
    .form-input--checkbox:last-child {
      margin-bottom: 46px; }
    @media (min-width: 700px) {
      .form-input--checkbox {
        margin-bottom: 46px; } }
  .form-input__label {
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase;
    display: block;
    text-align: left;
    padding: 0 0 10px 23px;
    letter-spacing: 0; }
    @media (min-width: 700px) {
      .form-input__label {
        padding: 0 0 10px 22px; } }
    .form-input__label--bottom {
      text-align: center;
      padding: 13px 0 0; }
      @media (min-width: 700px) {
        .form-input__label--bottom {
          text-align: left;
          padding: 15px 0 0 30px; } }
    @media (min-width: 700px) {
      .form-input__label--center {
        text-align: center;
        padding: 15px 0 0; } }
  .form-input--add {
    width: 280px;
    letter-spacing: -7px; }
    @media (min-width: 700px) {
      .form-input--add {
        width: 236px; } }
    @media (min-width: 1200px) {
      .form-input--add {
        width: 252px; } }
  @media (min-width: 700px) {
    .form-input--companions {
      width: 252px; }
      .form-input--companions input[readonly] {
        background: #fff; }
        .form-input--companions input[readonly]:hover {
          border: 2px solid #fff; }
        .form-input--companions input[readonly]:active {
          border: 2px solid #fff; } }
  .form-input__minus {
    height: 3px;
    width: 27px;
    background: #283645;
    margin: 29px auto; }
  .form-input__plus {
    position: absolute;
    height: 3px;
    width: 27px;
    background: #283645;
    top: 29px;
    left: 16px;
    transform: rotate(90deg); }
  .form-input__input {
    width: 100%;
    border: 2px solid #e7e7e7;
    padding: 20px 22px;
    height: 63px;
    font-size: 18px;
    color: #283645;
    box-sizing: border-box;
    margin: 0 auto; }
    .form-input__input:hover {
      border: 2px solid #283645; }
    .form-input__input:focus {
      outline: none;
      border: 2px solid #d22856; }
    .form-input__input--add {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      text-align: center; }
      .form-input__input--add:hover {
        border: 2px solid #e5e5e5; }
      .form-input__input--add:focus {
        outline: none;
        border: 2px solid #e5e5e5; }
    @media (min-width: 700px) {
      .form-input__input--companions {
        border: 0; } }
    @media (min-width: 700px) {
      .form-input__input--companions:hover {
        border: 0; } }
  .form-input__plus-minus {
    position: absolute;
    border: 2px solid #e7e7e7;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -7px;
    width: 59px;
    height: 59px;
    cursor: pointer; }
    .form-input__plus-minus--minus {
      top: 0;
      left: 0; }
    .form-input__plus-minus--plus {
      top: 0;
      right: 0; }
    .form-input__plus-minus:hover {
      border: 2px solid #283645; }
    .form-input__plus-minus:active {
      background: #283645; }
      .form-input__plus-minus:active .form-input__minus {
        background: #fff; }
      .form-input__plus-minus:active .form-input__plus {
        background: #fff; }
  .form-input--flex {
    width: 280px; }
    @media (min-width: 700px) {
      .form-input--flex {
        width: 240px;
        margin-bottom: 32px; } }
    @media (min-width: 1200px) {
      .form-input--flex {
        margin-bottom: 0; } }
  .form-input--flex:last-child {
    margin-bottom: 0; }

.companion {
  text-align: left;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }
  .companion:last-child {
    margin-bottom: 0; }
  .companion__wrapper {
    display: flex;
    justify-content: flex-start; }
  .companion__delete {
    display: none;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer; }
    @media (min-width: 700px) {
      .companion__delete {
        display: block;
        padding-top: 50px;
        font-size: 14px; } }
    .companion__delete:hover {
      color: #d22856; }
    .companion__delete:active {
      opacity: 0.3; }
  @media (min-width: 700px) {
    .companion {
      margin-bottom: 25px; } }
  @media (min-width: 1200px) {
    .companion {
      margin-bottom: 7px; } }

.form-divider {
  margin: 50px 0 33px 0;
  border: none;
  height: 2px;
  width: 100%;
  background-color: #e5e5e5; }
  @media (min-width: 700px) {
    .form-divider {
      margin: 41px 0 34px 0; } }
  .form-divider--photos {
    margin: 33px 0 35px 0; }
    @media (min-width: 1200px) {
      .form-divider--photos {
        margin: 40px 0 63px 0; } }

.number-input__label {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  letter-spacing: 0; }
.number-input__input {
  width: 60px;
  height: 60px;
  border: 2px solid #e5e5e5;
  border-right: 0;
  text-align: center;
  font-size: 18px;
  padding: 0; }
  @media (min-width: 700px) {
    .number-input__input {
      border-right: 2px solid #e5e5e5; } }
@media (min-width: 700px) {
  .number-input {
    margin-right: 20px; } }

.double-input__wrap {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
  width: 100%; }
  @media (min-width: 700px) {
    .double-input__wrap--comp-name {
      margin-right: 15px; } }
  @media (min-width: 700px) {
    .double-input__wrap {
      width: 300px; } }
.double-input__input {
  width: 100%;
  border: 2px solid #e7e7e7;
  padding: 20px;
  height: 64px;
  font-size: 18px;
  color: #283645;
  margin-bottom: 20px;
  box-sizing: border-box; }
  .double-input__input:last-child {
    margin-bottom: 0; }
  .double-input__input:hover {
    border: 2px solid #283645; }
  .double-input__input:focus {
    outline: none;
    border: 2px solid #d22856; }
.double-input__label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 14px;
  color: #d22856;
  text-align: left;
  padding: 0 0 10px 20px; }
  @media (min-width: 1200px) {
    .double-input__label {
      padding: 0 0 10px 22px; } }
.double-input:last-child {
  margin-bottom: 0; }
@media (min-width: 1200px) {
  .double-input {
    margin-right: 15px; } }

.photos {
  padding-bottom: 0; }
  .photos__btn {
    display: block;
    border: 2px solid #e5e5e5;
    padding: 19px 0;
    background: #fff;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
    color: #283645; }
    .photos__btn:hover {
      border: 2px solid #283645;
      outline: none; }
    .photos__btn:active {
      background: #283645;
      color: #fff;
      outline: none; }
  .photos__input {
    position: fixed;
    left: -9999px; }
  .photos__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 106.5%; }
  .photos__item {
    min-width: 80px;
    position: relative;
    text-align: left;
    margin-right: 18px; }
    @media (min-width: 700px) {
      .photos__item {
        min-width: 120px;
        margin-right: 55px; } }
  .photos__close {
    position: absolute;
    top: -13px;
    left: 65px;
    width: 30px;
    height: 30px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    cursor: pointer;
    text-align: center;
    z-index: 1; }
    .photos__close svg {
      width: 12px;
      height: 12px;
      padding: 10px 9px;
      fill: #cacaca; }
      @media (min-width: 700px) {
        .photos__close svg {
          width: 24px;
          height: 24px;
          padding: 14px 13px; } }
    @media (min-width: 700px) {
      .photos__close {
        top: -23px;
        left: 95px;
        width: 49px;
        height: 49px; } }
    .photos__close:hover {
      border: 2px solid #1d2631; }
      .photos__close:hover svg {
        fill: #283645; }
    .photos__close:active {
      border: 2px solid #283645;
      background: #283645; }
      .photos__close:active svg {
        fill: #fff; }
  .photos__image {
    max-width: 80px;
    height: 80px;
    margin-bottom: 2px;
    overflow: hidden; }
    @media (min-width: 700px) {
      .photos__image {
        max-width: 120px;
        height: 120px;
        margin-bottom: 8px; } }
    .photos__image img {
      width: 120px; }
  .photos__label {
    font-size: 12px;
    margin-bottom: 27px; }
  .photos fieldset {
    padding-bottom: 30px; }

.submit {
  padding-top: 25px; }
  .submit__input {
    width: 100%;
    background: #2aab6d;
    padding: 19px;
    height: 63px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 40px;
    text-transform: uppercase;
    cursor: pointer; }
    @media (min-width: 700px) {
      .submit__input {
        width: 300px;
        margin-bottom: 0; } }
    .submit__input:hover {
      outline: 0;
      background: #1c9b5e; }
    .submit__input:active {
      outline: 0; }
      .submit__input:active span {
        opacity: 0.3; }
  .submit__required {
    font-size: 14px;
    text-transform: uppercase; }
    @media (min-width: 700px) {
      .submit__required {
        padding: 21px 0; } }
  .submit__star {
    color: #d22856; }
  .submit__add-text {
    display: none; }
    @media (min-width: 1200px) {
      .submit__add-text {
        display: inline; } }
  @media (min-width: 700px) {
    .submit {
      padding-top: 65px;
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .submit {
      padding-bottom: 0; } }

.footer--index {
  display: none; }
  @media (min-width: 700px) {
    .footer--index {
      display: block; } }
.footer__wrapper {
  display: block;
  padding: 13px 20px; }
  @media (min-width: 700px) {
    .footer__wrapper {
      display: flex;
      padding: 40px;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .footer__wrapper {
      padding: 75px 130px; } }
.footer__developed {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #283645; }
  @media (min-width: 700px) {
    .footer__developed {
      width: 33%;
      margin-bottom: 0;
      text-align: right;
      justify-content: flex-end; } }
  .footer__developed:hover {
    color: #283645; }
    .footer__developed:hover svg {
      fill: #283645; }
  .footer__developed:active {
    color: #283645; }
    .footer__developed:active svg {
      opacity: 0.3; }
.footer__developed-text {
  margin-right: 15px;
  padding: 14px 0;
  font-size: 14px; }
  @media (min-width: 700px) {
    .footer__developed-text {
      margin-right: 12px; } }
  @media (min-width: 1200px) {
    .footer__developed-text {
      margin-right: 14px;
      font-size: 18px;
      padding: 11px 0; } }
.footer__developed-icon {
  height: 48px; }
  .footer__developed-icon svg {
    fill: #d22856;
    margin-top: 9px; }

.social-icons {
  display: flex;
  top: 2px;
  width: 170px;
  margin: 38px auto 34px auto;
  justify-content: space-between; }
  .social-icons__item {
    width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #e5e5e5; }
    .social-icons__item svg {
      padding: 12px; }
    .social-icons__item:hover {
      border: 3px solid #283645; }
    .social-icons__item:active {
      opacity: 0.3; }
  @media (min-width: 700px) {
    .social-icons {
      margin: 4px 0 0;
      width: 169px; } }

/*# sourceMappingURL=style.css.map */
